---
import { Image } from 'astro:assets';
import iitb from '~/assets/images/iitb.svg';
import iem from '~/assets/images/iem.png';

const timelineItems = [
  {
    date: '2023 - 2026',
    title: 'MS Research at IIT Bombay',
    icon: iitb,
    description:
      'Working on my thesis under <a href="https://biplab-banerjee.github.io/" target="_blank" class="text-blue-600 hover:underline">Prof. Biplab Banerjee</a> at the <a href="https://www.iitb.ac.in/" target="_blank" class="text-blue-600 hover:underline">IIT Bombay</a>. My research focuses on...',
  },
  {
    date: '2018 - 2022',
    title: 'BTech at IEM Kolkata',
    icon: iem,
    description:
      'Completed my Bachelors in Computer Science, with a focus on machine learning and software development.',
  },
];
---

<section class="py-16 md:py-20">
  <div class="mx-auto max-w-6xl px-4 sm:px-6">
    <ol class="relative border-s-2 border-gray-300 dark:border-gray-600 ml-24">
      {
        timelineItems.map((item) => (
          <li class="mb-10 ms-3">
            <time class="absolute -left-24 mt-0 text-sm font-semibold text-gray-400 dark:text-gray-400">
              {item.date}
            </time>

            <span class="absolute flex items-center justify-center w-2.5 h-2.5 bg-gray-300 rounded-full -start-[6px] ring-4 ring-white dark:ring-gray-900 dark:bg-gray-600" />

            <div class="flex items-start gap-x-2">
              <Image class="" src={item.icon} alt={`${item.title} logo`} width={64} height={64} densities={[1, 2, 3]} />

              <div class="flex-1">
                <h3 class="text-lg font-semibold text-slate-750 dark:text-white">{item.title}</h3>
                <p class="text-base font-normal text-gray-600 dark:text-gray-300" set:html={item.description} />
              </div>
            </div>
          </li>
        ))
      }
    </ol>
  </div>
</section>
