---
import { Image } from 'astro:assets';
import iitb from '~/assets/images/iitb.png';
import iem from '~/assets/images/iem.png';

const timelineItems = [
  {
    date: '2023 - 2026',
    title: 'MS Research at IIT Bombay',
    icon: iitb,
    description:
      'Working on my thesis under <a href="https://biplab-banerjee.github.io/" target="_blank" class="text-blue-600 hover:underline">Prof. Biplab Banerjee</a> at the <a href="https://www.iitb.ac.in/" target="_blank" class="text-blue-600 hover:underline">IIT Bombay</a>. My research focuses on...',
  },
  {
    date: '2018 - 2022',
    title: 'B Tech at IEM Kolkata',
    icon: iem,
    description:
      'Completed my Bachelors in Computer Science, with a focus on machine learning and software development.',
  },
];
---

<section class="py-16 md:py-20">
  <div class="mx-auto max-w-6xl px-4 sm:px-6">
    <ol class="relative border-s border-gray-300 dark:border-gray-600 ml-32">
      {
        timelineItems.map((item) => (
          <li class="mb-10 ms-12">
            <time class="absolute -left-32 mt-1 text-base font-normal text-gray-500 dark:text-gray-400">
              {item.date}
            </time>

            <span class="absolute flex items-center justify-center w-3 h-3 bg-gray-300 rounded-full -start-[7px] ring-4 ring-white dark:ring-gray-900 dark:bg-gray-600" />

            <div class="flex items-start gap-x-4">
              <Image class="rounded-lg shadow-lg" src={item.icon} alt={`${item.title} logo`} width={64} height={64} />

              <div class="flex-1">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{item.title}</h3>
                <p class="text-base font-normal text-gray-600 dark:text-gray-300" set:html={item.description} />
              </div>
            </div>
          </li>
        ))
      }
    </ol>
  </div>
</section>
